@import '../../../styles/colors';
@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
  }
.cardpro {
    font-family: Roboto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
    max-width: 300px;
    margin: 0 10px;
    height: 412px;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px rgba(95, 93, 93, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    // border: 3px solid $main;
    border-radius: 10px;
    outline: none !important;
    &_installment{
        background-color: #fbda00;
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 0;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        text-align: center;
        padding: 3px 10px;
    }
    &_content{
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        width: 100%;
        outline: none;
        height: 100%;
        color: rgb(0, 0, 0);
        cursor: pointer;
        border-radius: 10px;
        z-index: 99;
        transform: translateY(calc(100% - 120px));
        transition: 0.6s ease-in-out;
        &:hover{
            transform: translateY(0%);
            transition: all 1.3s ease;
            background-color: $main;
            color: white;
            .cardpro_title,
            .cardpro_evaluate_text,
            .cardpro_price_New,
            .cardpro_des_arrow{
                color: white;
            }
        }
      
    }
    &_title{
        padding-top: 10px;
        padding-left: 10px;
        // transform: translateY(calc(100% - 5px));
        font-size: 20px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        width: 100%;
        z-index: 999;
    }
    &_photo{
        position: absolute;
        display: block;
        width: 200px;
        height: 250px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin: 15px auto;
        transition: all ease 300ms;
    }
    &_des{
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        &_arrow{
            color: #d81111;
            padding-left: 5px;
            animation: bounce 0.6s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

    }
    &_price{
        display: flex;
        justify-content: center;
        padding: 8px 10px;
        font-size: 14px;
        &_currency{
            font-size: 12px;
            display: flex;
            align-items: flex-end;
            padding-left: 2px;
            text-decoration: underline;
        }
        &_New{
            display: flex;
            vertical-align: middle;
            overflow: hidden;
            color: #bf081f;
            font-weight: 600;
            line-height: 15px;
            padding-right: 20px;

        }
        &_discount{
            display: flex;
            text-decoration: line-through rgb(65, 62, 62);
            
        }
    }
    &_evaluate{
        padding-left: 10px;
        display: flex;
        align-items: center;
        &_star{
            color: #fbda00;
        }
        &_text{
            color: black;
            padding-left: 5px;
        }
    }
    &_configuration{
        li{
            padding-top: 5px;
        }
    }
    &_discount{
        background-color: $main;
        color: white;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        left: 10px;
        position: absolute;
        top:63%;
        &_icon{
            padding-right: 7px;
            color: #fbda00;
        }
    }
}
.slick-initialized .slick-slide{
    outline: none;
}